<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMIN</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>


<body>

	
	{% for cat, msg in get_flashed_messages(True) %}
	<div class="flash {{cat}}"><strong>{{msg}}</strong><br/>
	{% for item in errors %}{{item}}<br/>
	{% endfor %}
	</div>
	
	{% endfor %}
	

	
	<nav><p id="form" style="font: normal small-caps 32px/54px fantasy;">Форма №{{id}}</p></nav>
	<form  action = "{{url_for('adminuserlist')}}/change/{{id}}"  method = 'POST'>

	
	
	{% if 'Не введено имя' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %}
      <label>
        <h4>Имя:</h4>
        <input value = "{% if answ.get('field-name') != None%}{{answ['field-name']}}{%endif%}" 
		name="field-name" style="background-color: {{valid}};"  autocomplete="off"/><br />
	
    
	{% if 'Не введен email' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %}
       <h4>email:</h4>
        <input name="field-email"
          value="{% if answ.get('field-email') != None%}{{answ['field-email']}}{%endif%}"
          type="email" style="background-color: {{valid}};" autocomplete="off" />
      </label><br />

	{% if 'Не указана дата' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %}
       <h4>Дата рождения:</h4>
        <input name="field-date"
          value="{% if answ.get('field-date') != None%}{{answ['field-date']}}{%endif%}"
          type="date" style="background-color: {{valid}};" />
      </label><br />
	  
	  
	{% if 'Не указан пол' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %}
	  <h4>Пол:</h4>
	  <label style="background-color: {{valid}};">
      <label><input type="radio" 
        name="radio-group-1" value="м" {% if answ.get('radio-group-1') == 'м'%}checked{%endif%} />
        мужской</label>
      <label><input type="radio"
        name="radio-group-1" value="ж" {% if answ.get('radio-group-1') == 'ж'%}checked{%endif%} />
        женский</label></label><br />
	

	{% if 'Не указано количество конечностей' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %}
	
	<h4>Количество конечностей:</h4>
	 <label style="background-color: {{valid}};">	
      <label><input type="radio" 
        name="radio-group-2" value="1"  {% if answ.get('radio-group-2') == '1'%}checked{%endif%} />
        1</label>
      <label><input type="radio"
        name="radio-group-2" value="2"  {% if answ.get('radio-group-2') == '2'%}checked{%endif%}/>
        2</label><br />
	  <label><input type="radio"
        name="radio-group-2" value="-1" {% if answ.get('radio-group-2') == '-1'%}checked{%endif%} />
        -1</label>
		<label><input type="radio"
        name="radio-group-2" value="7"  {% if answ.get('radio-group-2') == '7'%}checked{%endif%} />
        7</label></label><br />
		
	{% if 'Не указана суперспособность' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %}	
        <h4>Сверхспособности:</h4>
		<label>
        <select name="super"
          multiple="multiple" style="background-color: {{valid}};">
          <option value="бессмертие" {% if answ.get('super') == 'бессмертие'%}selected{%endif%}>бессмертие</option>
          <option value="прохождение сквозь стены" {% if answ.get('super') == 'прохождение сквозь стены'%}selected{%endif%}>прохождение сквозь стены</option>
          <option value="левитация" {% if answ.get('super') == 'левитация'%}selected{%endif%}>левитация</option>
		  <option value="сдавать сессию на 5" {% if answ.get('super') == 'сдавать сессию на 5'%}selected{%endif%}>сдавать сессию на 5</option>
        </select>
      </label><br />
	  
	  
	{% if 'Не введена биография' in errors %}
		{% set valid='red'%}
	{% else %}
		{% set valid = ''%}
	{% endif %} 
      
       <h4>Биография:</h4>
		<label>
        <textarea 
		name="biography" style="background-color: {{valid}};" autocomplete="off">{%if answ.get('biography') != None %}{{answ['biography']}}{%endif%}</textarea>
      <br /></label>
      <h4>Чекбокс:</h4>
      <label><input type="checkbox" onclick="document.getElementById('foo').disabled=!this.checked" name="checkbox" />
        с контрактом ознакомлен</label><br /><br />
      <input class = "btn" type="submit" id="foo" value="Отправить" disabled="disabled" />
	 
    </form>
	 <br /><button onclick="document.location='{{url_for('adminuserlist')}}'"  class="btn">Вернуться назад</button>
	</div>
	
</body>





</html>
		
		
		
		
		
		