<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMIN</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>


<body>

	<header>
		<nav class="two"; style = " margin: 0; width: 100%">
		  <ul>
			<li><a href="{{ url_for('admin') }}"><i class="fa fa-home fa-fw"></i>Админ</a></li>
			<li><a href="{{ url_for('adminuserlist') }}">Список пользователей</a></li>
			<li><a href="{{ url_for('adminstatistic') }}">Статистика суперспособностей</a></li>
			<li><a href="{{ url_for('index') }}">Выйти</a></li>
		  </ul>
		</nav>
	</header>
	
	
	<table>
	
  <thead>
  <h1 style="color:#9E1947">Статистика суперспособностей</h1>
    <tr>
      <th>Бессмертие</th>
      <th>Прохождение сквозь стены</th>
      <th>Левитация</th>
      <th>Сдавать сессию на 5</th>
    </tr>
  </thead>
  <tbody>
      <tr>
	  {% for item in static %}
      <td >{{item}}</td>
	  {% endfor %}
	</tbody>	
	</tr>
	</table>
	
	
	
	
</body>





</html>
		
		
		
		
		
		